.image{
   margin-top: 10%;
   padding: auto;
   display:flex;
   flex-direction: column;
   align-items: center;
}

.image img{
   width: 280px;
}

.search{
   margin-top: 10px;
   width: 580px;
   height: 30px;
   display: flex;
   border: 1px solid #E3E3E3;
   border-radius: 8px;
   padding-inline: 5px;
}

.search input{
   width: 400px;
   border: none;
   outline: none;
   font-size: 15px;
   font-weight: 300;
   margin-left: 5px;
}

.search input::placeholder{
   color: #7b7b7b;
   font-size: 15px;
   font-weight: 300;
   font-family: 'Roboto';
}

.buttonS{
   border:0;
   background-color: transparent;
   display: flex;
   align-items: center;
}

.twoB{
   display: flex;
   justify-content: end;
   margin-left: auto;
}

.twoBs{
   display: flex;
   align-items: center;
   border: 0;
   background-color: transparent;
   padding-inline: 3px;
}
